*.bp text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mk text eol=lf
*.patch text eol=lf
*.rc text eol=lf
*.sh text eol=lf
*.xml text eol=lf
*.yml text eol=lf
.gitattributes text eol=lf

*.bin binary
*.gz binary
*.img binary
*.pem binary
*.so binary
*.cpio binary
*.py text eol=lf
prebuilt/oos12/kernel binary
